.container{
    height: 400px;
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    color: white;
}

.player-card{
    width: 300px;
    height: 100%;
    background-color: #2B2936;
}

.player-card-text.name {
    color: #55EABE;
    font-weight: bold;
    padding-top: 15px;
}

.player-card-image {
    width: 200px;
    height: 300px;
    margin: auto;
}

.player-card-text {
    font-size: 30px;
    text-align: center;
}

.player-stats{
    width: 100%;
    min-width: 300px;
}

.player-stats-title {
    width: 100%;
    min-width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #272344;
}

.player-stats-detailed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.player-stats-column{
    width: calc(100%/6);
    min-width: 130px;
    height: 350px;
    text-align: center;
    background-color:#181648;
}

.column .text {
    padding: 10px;
}

.half-circle {
    width: 100px;
    height: 50px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid gray;
    border-bottom: 0;
    margin: auto;
}

.number {
    font-size: 35px;
    color: #1CAA16;
    position: relative;
    top: -30px;
}

.stats-text {
    display: inline-block;
    padding-right: 10px;
}

.stats-number {
    display: inline-block;
}

.stats-bar {
    height: 5px;
    width: 110px;
    border-radius: 5px;
    background-color: grey;
    margin: 3px auto 10px;
}

.stats-bar-91 {
    background: linear-gradient(90deg, #1CAA16 91%, grey 0%);
}
